/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.title, .title_hud_alert
{
	paddingLeft: 175;
	paddingRight: 22;
	verticalAlign: middle;
	textAlign: right;
	color: #D82B53;
	fontFamily: Oxygen;
	fontSize: 44;
	textDecoration: underline;
}

.subtitle, .subtitle_hud_alert
{
	paddingLeft: 33;
	paddingRight: 33;
	verticalAlign: middle;
	backgroundColor: #1177C6;
	color: #FFFFFF; 
	fontFamily: Oxygen; 
	fontSize: 20; 
	right: 0;
	left: 0;
}

.prompt, .prompt_hud_alert
{
	paddingLeft: 44;
	paddingRight: 44;
	fontFamily: Oxygen;
	color: #61371e;
	fontSize: 16;
	textAlign: right;
}

.label_button
{
	fontFamily: Arvo_Bold;
	fontSize: 18;
	color: #FFFFFF;
	textAlign: center;
	verticalAlign: middle;
}