/* Info_Questions.css */

.title_info_questions, .title
{
	paddingLeft: 22;
	color: #1276C5; 
	fontFamily: Arvo_Bold; 
	fontSize: 32;
}

.subtitle_info_questions, .subtitle
{
	paddingLeft: 33;
	verticalAlign: middle;
	backgroundColor: #1177C6;
	color: #FFFFFF; 
	fontFamily: Oxygen; 
	fontSize: 20; 
}

.prompt_info_questions, .prompt
{
	paddingLeft: 44;
	paddingRight: 22;
	fontFamily: Oxygen;
	color: #61371e;
	fontSize: 16;
}

.editable_info_questions, .editable
{
	fontFamily: Arial;
	fontSize: 15;
	color: #363636;
	textAlign: center;
}

.label_button
{
	textAlign: center;
	verticalAlign: middle;
}