@font-face
{
	fontFamily: Oxygen;
	src: url("../fonts/Oxygen-Regular.ttf");
	embedAsCFF: true;
	verticalAlign:middle;
}

@font-face
{
	fontFamily: Oxygen_Bold;
	src: url("../fonts/Oxygen-Bold.ttf");
	embedAsCFF: true;
	verticalAlign:middle;
}

@font-face 
{
	src: url("../fonts/Arvo-Bold.ttf");
	embedAsCFF: true;
	fontFamily: Arvo_Bold;
	fontStyle: normal;
	fontWeight: normal;
}

@font-face 
{
	src: url("../fonts/Arvo-Regular.ttf");
	embedAsCFF: true;
	fontFamily: Arvo_Regular;
	fontStyle: normal;
	fontWeight: normal;
}

.editable
{
	fontFamily: Arial;
	fontSize: 15;
	color: #363636;
	textAlign: center;
}

.prompt
{
	fontFamily: Oxygen;
	fontSize: 16;
	color: #61371e;
}

.label_button
{
	horizontalCenter: 0;
	verticalCenter: 0; 
	textAlign: center;
	verticalAlign: middle;
	color: #FFFFFF;
	fontFamily: Oxygen_Bold;
	fontSize: 19;
}
