/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.title_profile
{
	color: #1177C6; 
	fontFamily: Arvo_Bold; 
	fontSize: 32;
	paddingLeft: 20;
}

.subtitle_profile
{
	backgroundColor: #1177C6;
	color: #FFFFFF; 
	fontFamily: Oxygen; 
	fontSize: 20; 
	paddingLeft: 20;
}

.prompt_profile
{
	fontFamily: Oxygen;
	color: #5E5E5E;
	fontSize: 16;
}

.explanation_profile
{
	fontFamily: Oxygen;
	color: #1177C6;
	fontSize: 12;
}

.editable_profile
{
	fontFamily: Oxygen;
	fontSize: 16;
	color: #5e3e3d;
	textAlign: left;
}

.navigation_profile
{
	fontFamily: Oxygen;
	fontSize: 14;
	color: #5e4636;
	textAlign: center;
}