/* Questionnaire.css */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.title_questionnaire, .title
{
	color:  #1177c6; 
	fontFamily: Oxygen;
	fontSize: 32;
	textAlign: left;
	paddingLeft: 60;
}

.subtitle_questionnaire, .subtitle
{
	color:  #1177c6; 
	fontFamily: Oxygen;
	fontSize: 20;
	textAlign: justify;
}

.prompt_questionnaire, .prompt
{
	color: #61371C;
	fontFamily: Oxygen;
	fontSize: 16;
}

.editable_questionnaire, .editable
{
	fontWeight: bold;
}