
@font-face
{
	fontFamily: Corbel;
	src: url("assets/fonts/CORBEL.TTF");
	embedAsCFF: true;
}

@font-face 
{
	src: url("assets/fonts/lubalin_demi.otf");
	fontFamily: lubalin_demi;
	fontStyle: normal;
	fontWeight: normal;
}

@font-face 
{
	src: url("assets/fonts/lubalin_book.otf");
	fontFamily: lubalin_book;
	fontStyle: normal;
	fontWeight: normal;
}






























